      #contactInfo {
        border-top: 2px solid #333;
        border-bottom: 2px solid #333;
        padding: 4px 0  4px 0;
        margin: 0;
        text-align: center;
        white-space: nowrap;
      }
      #contactInfo li {
        display: inline;
        list-style: none;
        margin: 0 0.25em 0 0.25em;
      }
